<form #form = "ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail"
           aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="user.email" name="Email"
           required email #email = "ngModel"
    >
    <div *ngIf="!email.valid && email.touched" class="error">
      Email invalid
    </div>
  </div>
  <div class="form-group">
    <label for="InputName">Name</label>
    <input type="text" class="form-control" id="InputName"
           placeholder="Enter your name" [(ngModel)]="user.name" name="Name"
           required #name = "ngModel"
    >
    <div *ngIf="!name.valid && name.touched" class="error">
      Name invalid
    </div>
  </div>
  <button [disabled]="!form.valid" type="submit" class="btn btn-dark">Submit</button>
</form>
